@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html{
    font-size: 62.5%;
    /*line-height: 1.5;*/
    /*#6fda44*/

    /*#008329*/

}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    position: relative;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
a{
    text-decoration: none;
}
h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
}
.btn_style{
    background: -webkit-gradient(linear, left top, right top, from(#58B158), to(#77BE50));
    background: -o-linear-gradient(left, #58B158 0%, #77BE50 100%);
    background: linear-gradient(90deg, #58B158 0%, #77BE50 100%);
    color: #fff !important;
    display: inline-block;
    font-size: 22px;
    padding: 10px 26px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 6px;
    cursor: pointer;
}
.btn_style:hover{
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    background: -webkit-gradient(linear, left top, right top, from(#77BE50), to(#58B158));
    background: -o-linear-gradient(left, #77BE50 0%, #58B158 100%);
    background: linear-gradient(90deg, #77BE50 0%, #58B158 100%);
}
.btn_style.btn_send {
    padding: 6px 14px;
    font-size: 18px;
    font-weight: 500;
}


/* =========     5. Header area css start     =========  */

.header_text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.logo a {

}
menu{
    display: flex;
    list-style-type: none;
    margin: 0; padding: 0; align-items: center; transition: 0.4s;
}
.menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.menu ul li a {
    font-size: 20px;
    color: #393939;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    padding: 7px 12px;
    text-transform: capitalize;
}
.menu ul li a:hover{
    color:#0275D8;
}


/*  =========    5. Header area css end   s  =========  */

/*  =========    6. Header area css start      ========= */
.pagenation{
    background-color: #F5F5F5;
    padding: 10px 0;
}
.pagenation_text ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pagenation_text ul li{
    position: relative;
}
.pagenation_text ul li::after {
    position: absolute;
    right: 0;
    top: 3px;
    height: 20px;
    width: 2px;
    background-color: gray;
    content: "";
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
}
.pagenation_text ul li:last-child::after{
    display: none;
}
.pagenation_text ul li a{
    font-size: 18px;
    color: gray;
    margin: 0 10px;
    padding: 0 10px;
}
.pagenation_text ul li a:hover{
    color:#0275D8;
}


/*  =========    5. Header area css end   s  =========  */


.pay_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 22px;
}
.pay_header a {
    background: -webkit-gradient(linear, left top, right top, from(#0275D8), to(#0275D8));
    background: -o-linear-gradient(left, #0275D8 0%, #0275D8 100%);
    background: linear-gradient(90deg, #0275D8 0%, #0275D8 100%);
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}
.pay_header a:hover{
    background: -webkit-gradient(linear, left top, right top, from(#0275D8B5), to(#0275D8BF));
    background: -o-linear-gradient(left, #0275D8B5 0%, #0275D8BF 100%);
    background: linear-gradient(90deg, #0275D8B5 0%, #0275D8BF 100%);
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}
.arrowArea select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 11px;
    border: 2px solid #000;
    border-radius: 2px;
    padding: 1rem;
    padding-right: 4rem;
    font-size: 18px;
    padding-left: 1.5rem;
}
.arrowArea {
    background-color: #F5F5F5;
    padding: 50px 100px;
}
.arrowArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 40px;
}
.arrowArea > .btn_style {
    padding: 13px 100px;
    border: none;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* humber menu area start  */

.humber_menu {
    display: inline-block;
    cursor: pointer;
}
.humber_menu{
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: translate(0, 9px) rotate(-45deg);
    -ms-transform: translate(0, 9px) rotate(-45deg);
    transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    -ms-transform: translate(0, -10px) rotate(45deg);
    transform: translate(0, -10px) rotate(45deg);
}
/* humber menu area End  */


/*** component ***/
/*** component ***/
.input-number {
    position: relative;
    border: 2px solid #000;
    max-width: 180px;
    border-radius: 4px;
    font-family: helvetica, sans-serif;
    background: #FFF;
}
.input-number label {
    position: absolute;
    left: 20px;
    font-size: 12px;
    top: 8px;
}


.input-number input {
    border: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    padding-right: 70px;
    font-weight: 400;
}

.input-number button {
    position: absolute;
    height: 50%;
    width: 50px;
    right: 0;
    border: 0;
    border-left: 2px solid #000;
    cursor: pointer;
    background: #fff;
}
.input-number {
    position: relative;
}
.input-number p {
    position: absolute;
    right: 58px;
    top: 0;
    font-size: 18px;
    bottom: 0;
    display: flex;
    align-items: center;
}

.input-number button svg {
    height: 16px;
}

.input-number button.input-number-decrement {
    bottom: 0;
    border-top: 1px solid #666;
    border-bottom-right-radius: 4px;
}

.input-number button.input-number-increment {
    border-top-right-radius: 4px;
}

.input-number button.input-number-increment svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Chrome, Safari, Edge, Opera */
.input-number input::-webkit-outer-spin-button,
.input-number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input-number input[type="number"] {
    -moz-appearance: textfield;
}

/*  =========    6. Header area css start      ========= */


.table_design {
    padding-top: 23px;
}
.table {
    border: 2px solid #000;
    margin: 0;
}
.table.table-striped tr th {
    background-color: #5CB85C;
    color: #fff;
    font-weight: 400;
}
/* .table-striped > tbody > tr:nth-of-type(2n+0) {
  background-color: #F5F5F5;
}


.table-striped tbody tr:nth-of-type(odd) {
  background-color:  rgba(72, 113, 248, 0.068);
} */

.table.table-striped tr th, .table.table-striped tr td {
    padding: 20px 0;
    text-align: center;
    border: none;
    font-size: 19px;
}

/* pagenation system */
.table_design ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 30px;
}
.table_design ul li {
    border: 1px solid #b5b5b5;
}
.table_design ul li:first-child{
    border-radius: 5px 0 0 5px;
}
.table_design ul li:last-child{
    border-radius: 0 5px 5px 0;
}
.table_design ul li a {
    display: inline-block;
    height: 50px;
    width: 55px;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #0275D8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
}
.hidden {
    display: none;
}
.account_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}