<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Exemple Thymeleaf avec Bootstrap, jQuery et Modernizr</title>
  <!-- Importation de Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Importation de Modernizr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <!-- Importation de Modernizr -->
  <script th:src="@{/js/Modernizr.js}"></script>

  <!-- Importation du fichier CSS personnalisé -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- HEADER -->
<div th:insert="header::header"></div>
<!-- PAGINATION -->
<div th:insert="pagination::pagination"></div>

<!-- ACCOUNT AREA-->

<div class="account_area" style="display: flex; justify-content: center;">
  <div class="container" style="width: fit-content;">
    <div class="account_text">
      <h3>Mon Compte</h3>
      <div class="balance">
        <p>Solde disponible : <span th:text="${accountBalance} + ' €'">0 €</span></p>
      </div>
      <form method="post" th:action="@{/account/update}">
        <div class="form-group">
          <label for="amount">Montant</label>
          <input type="number" id="amount" name="amount" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn_style" name="action" value="add">Deposit</button>
          <button type="submit" class="btn_style" name="action" value="withdraw">Withdraw</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- TRANSACTION -->
<div th:insert="transaction::transaction"></div>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/popper}"></script>
<script th:src="@{/js/Modernizr}"></script>
<!-- Importation de jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>



<!-- Importation de Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>