<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login</title>
  <link rel="icon" th:href="@{/images/favicon.png}">


  <!-- Bootstrap -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <!-- Normalize -->
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <!-- CSS Files -->
  <link rel="stylesheet" th:href="@{/css/style2.css}">
  <link rel="stylesheet" th:href="@{/css/responsive.css}">
  <!-- Importation de Modernizr -->
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js}"></script>
  <!-- Importation de Modernizr -->
  <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">

</head>
<body>
<!--==========================  Start Header Section  ==========================-->
<header class="header_main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <div class="header_all">
            <div class="top_title">
              <a href="#">Pay My Buddy</a>
            </div>
            <div class="login_form">
              <form th:action="@{/login}" method="post">
                <div class="single_input">
                  <input type="email" placeholder="Email" th:name="username" required>
                  <div class="single_input_img">
                    <img src="/images/mail.png" alt="">
                  </div>
                </div>
                <div class="single_input">
                  <input type="text" placeholder="Password" th:name="password" required>
                  <div class="single_input_img single_input_img2">
                    <img src="/images/pass.png" alt="">
                  </div>
                </div>
                 <div th:if="${param.error}" class="alert alert-danger">
                  Invalid username or password.
                </div>
                <div class="hrh2_send_notif">
                  <div class="hrh2_send_notif_des">
                    <input type="checkbox" id="remember" th:name="remember">
                    <label for="remember">Remember me</label>
                  </div>
                </div>
                <div class="single_input_submit">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <!-- CSRF Token -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--==========================  End Header Section  ==========================-->

