<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <title>Login</title>
    <link rel="icon" href="assets/images/favicon.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <!-- Fontawesome -->
    <!-- Normalize -->
    <link rel="stylesheet" th:href="@{/assets/css/normalize.css}">
    <!-- CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/style2.css}">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
</head>
<body>
<!--==========================  Start Header Section  ==========================-->
<header class="header_main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    <div class="header_all">
                        <div class="top_title">
                            <a href="#">Pay My Buddy</a>
                        </div>
                        <div class="login_form">
                            <form th:action="@{/login}" method="post">
                                <div class="single_input">
                                    <input type="email" placeholder="Email" th:name="email" required>
                                    <div class="single_input_img">
                                        <img src="assets/images/mail.png" alt="">
                                    </div>
                                </div>
                                <div class="single_input">
                                    <input type="text" placeholder="Password" th:name="password" required>
                                    <div class="single_input_img single_input_img2">
                                        <img src="assets/images/pass.png" alt="">
                                    </div>
                                </div>
                                <div class="hrh2_send_notif">
                                    <div class="hrh2_send_notif_des">
                                        <input type="checkbox" id="remember" th:name="remember">
                                        <label for="remember">Remember me</label>
                                    </div>
                                </div>
                                <div class="single_input_submit">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--==========================  End Header Section  ==========================-->






<!-- ~~~~~~~~~~ JS Files ~~~~~~~~~~-->
<!-- jQuery -->
<script th:src="@{/assets/js/jquery.min.js}" src="../static/assets/js/jquery.min.js"></script>
<script th:src="@{/assets/js/popper.min.js}" src="../static/assets/js/popper.min.js"></script>
<!-- Bootstrap -->
<script th:src="@{/assets/js/bootstrap.min.js}" src="../static/assets/js/bootstrap.min.js"></script>
<!-- Modernizr -->
<script th:src="@{/assets/js/modernizr-3.11.2.min.js}" src="../static/assets/js/modernizr-3.11.2.min.js"></script>
<!-- Custom JS (Handed)-->
<script th:src="@{/assets/js/scripts.js}" src="../static/assets/js/scripts.js"></script>
</body>
</html>
