<!-- pagination.html -->
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="pagenation" th:fragment="pagination">
    <div class="pagenation">
        <div class="container">
            <div class="pagenation_text">
                <ul>
                    <li><a th:href="@{/home}" href="#">Home</a></li>
                    <li><a th:href="@{/transfer}" href="#">Transfer</a></li>
                </ul>
            </div>
        </div>
    </div></div>
</body>
</html>
