<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Exemple Thymeleaf avec Bootstrap, jQuery et Modernizr</title>

  <!-- Importation de Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Importation de Modernizr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <!-- Importation du fichier CSS personnalisé -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- HEADER -->
<div th:insert="header::header"></div>
<!-- PAGINATION -->
<div th:insert="pagination::pagination"></div>
<!-- PAY AREA -->
<div class="pay_area">
  <div class="container">
    <div class="pay_text">
      <div class="row g-4">
        <div class="col-md-10 offset-md-1">
          <div class="pay_header">
            <h3>Send Money</h3>
            <a href="#" class="btn_style" data-bs-target="#addConnectionModal">Add Connection</a>
          </div>
          <form method="post" th:action="@{/transfer/addConnection}">
            <div class="form-container">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
              </div>
              <button type="submit" class="btn_style btn_send">Add</button>
            </div>
          </form>
          <div class="arrowArea">
            <form id="carform" method="post" th:action="@{/transfer/submit}">
              <div class="form-container">
                <select id="selectedFriendId" name="selectedFriendId">
                  <option value="friend">Select A Connection</option>
                  <option th:each="friend : ${friends}" th:value="${friend.id}" th:text="${friend.friend.username}"></option>
                </select>
                <div class="input-number">
                  <input type="number" id="inuput-number" name="amount" value="0;" />
                  <button type="button" class="input-number-increment">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                      <path fill="#666" d="M126 32L63 95 0 32z" />
                    </svg>
                  </button>
                  <button type="button" class="input-number-decrement">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                      <path fill="#666" d="M126 32L63 95 0 32z" />
                    </svg>
                  </button>
                  <p>&euro;</p>
                </div>
                <input class="btn_style" type="submit" value="Pay" />
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- TRANSACTION -->
<div th:insert="transaction::transaction"></div>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/popper}"></script>
<script th:src="@{/js/Modernizr}"></script>


</body>
</html>